.header {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

@keyframes popAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes textAnimation {
  0% { color: green; }
  50% { color: white; }
  100% { color: green; }
}

.animated-text {
  animation: textAnimation 3s linear infinite;
}

.pop-button {
  animation: popAnimation 3s ease-in-out infinite;
}

.colors {
  color: var(--primary-color);
}

.nav-menu {
  display: flex;
}

nav a {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
  padding: 0 1rem;
}

nav a:hover {
  background: green;
  border: transparent;
  border-radius: 1rem;
  transition: 2s;
  color: #fff;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: start;
    background: #fff;
    border-left: 1px solid #cec9c9;
    width: 50%;
    height: 100vh;
    top: 90px;
    right: -100%;
    transition: 0.4s;
    z-index: 3;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #eee;
    color: var(--primary-color);
  }

  @keyframes popAnimation {
    0% {
      transform: scale(0.5);
    }

    50% {
      transform: scale(0.6);
    }

    100% {
      transform: scale(0.8);
    }
  }
}
